@media only screen and (max-width: 1270px){
    .wrapper{
        .marsWrapper{
            .rocket{
                top: 300px;
                right: 100px;
            }
        }
        .visit_soon{
            .planet_mars{
                left: 70px;
            }
            .desc{
                padding-left: 50px;
            }
        }
    }
}